body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.body {
  max-width: 1000px;
  margin: 20px auto 20px auto;
}

div.header {
  text-align: center;
}

img.chat-img {
  max-width: 200px;
  max-height: 200px;
}

.chat {
  padding: 15px;
  border-radius: 20px;
}

.localChat {
  background: #1A73E8 !important;
  color: white !important;
}

.otherChat {
  background: #F1F3F4 !important;
}

.tableChat {
  border-bottom: none !important;
  
#notifications{
  margin: 50px;
}