body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.body {
  margin: 20px;
}

div.header {
  text-align: center;
}

img.chat-img {
  max-width: 200px;
  max-height: 200px;
}

.chat {
  padding: 15px;
  border-radius: 20px;
}

.chat-header {
  padding: 15px;
  text-align: center;
}

.chat-footer {
  padding: 15px;
}

.localChat {
  background: #1A73E8 !important;
  color: white !important;
}

.otherChat {
  background: #F1F3F4 !important;
}

.tableChat {
  border-bottom: none !important;
}

.paper{
  padding: 15px;
}

.menu-button{
  margin-right: 20px;
}

.user-control{
  margin-left: auto;
}

@media all and (min-width: 480px) {
  .ResetPassword {
    padding: 60px 0;
  }

  .ResetPassword form {
    margin: 0 auto;
    max-width: 320px;
  }

  .ResetPassword .success {
    max-width: 400px;
  }
}

.ResetPassword .success {
  margin: 0 auto;
  text-align: center;
}
.ResetPassword .success .glyphicon {
  color: grey;
  font-size: 30px;
  margin-bottom: 30px;
}